node_modules/
check_*.png
seal_*.png
frame_*.png
crop_*.png
*.log
temp_*
inspect_*.png
debug_*.png
server_*.png
test_*.png
*.mp4.png
alpha_corner.png
inpaint_stroke_mask.png
remote_envelope.png
side_by_side_comparison.png
tilda_img_*.png
yf_clean_frame_0.png
yf_seal_inner_crop.png
yf_video_frame_0.png
yf_wax_seal_check.png
exact_webgency_*.png
delicate_seal_*.png
env_wiped_check.png
envelope_no_box_master.png
envelope_seamless_*.png
identical_webgency_*.png
master_3d_ai_*.png
no_box_seal_*.png
perfect_seal_*.png
poisson_seal_*.png
pristine_*.png
unified_ai_*.png
verify_envelope_yf_final.png
